.css-7p4kzq
    display: flex
    flex-direction: column
    width: 100%
    border: 1px solid rgb(89, 89, 89)

.css-fjcmtc
    display: flex
    flex-direction: column
    width: 100%
    overflow: hidden
    cursor: pointer
    border: 1px solid rgb(17, 17, 17)

.css-1ofqig9
    display: flex
    flex-direction: column
    width: 100%

.css-xymnl5
    display: flex
    flex-direction: row
    padding: 20px 40px
    background: rgb(17, 17, 17)
    transition: background 300ms ease 0s
    height: 68px
    align-items: center

.css-n3cej3
    display: flex
    flex-direction: row
    flex: 4 1 0%
    align-items: center
    gap: 16px

.css-eb7nk5
    display: flex
    flex-direction: row
    flex: 3 1 0%
    gap: 8px

.css-1bkxtup
    display: flex
    flex-direction: row
    flex: 1.5 1 0%

.css-uq7dtg
    display: flex
    flex-direction: column
    flex: 2 1 0%

.css-wwkw3j
    display: flex
    flex-direction: row
    flex: 1.5 1 0%
    justify-content: flex-end
    align-items: center
    gap: 0px

.css-1vd84sn
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

.css-1d7dhat
    position: relative
    display: flex
    align-items: center
    justify-content: center

.css-1r9kwv0
    display: flex
    flex-direction: row
    gap: 4px
    align-items: center

.css-12mq65g
    display: flex
    flex-direction: row
    gap: 4px
    align-items: baseline

.css-1qeiy3n
    margin: 0px
    font-size: 1rem
    line-height: 1.625rem
    font-weight: normal
    letter-spacing: 0.02rem

.css-v0zrd7
    margin: 0px
    font-size: 0.8125rem
    line-height: 1.3125rem
    font-weight: normal
    letter-spacing: 0.02rem
    color: rgb(163, 163, 163)

.css-79elbk
    position: relative
.css-1hki280
    display: flex
    align-items: center
    height: 18px

.css-1u3hqx3
    position: absolute
    inset: 0px
    z-index: 5
    border-radius: 12px
    filter: blur(3px)
    opacity: 0.7
    transition: all 0.3s ease 0s

.css-1kby21v
    padding: 1px
    border-radius: 4px
    height: 18px
    z-index: 20

.css-ot23c2
    background: rgb(31, 33, 40)
    border-radius: 10px
    height: 16px
    padding-left: 8px
    padding-right: 8px
    display: flex
    align-items: center
    color: rgb(255, 165, 203)
    transition: all 0.3s ease 0s

.css-1mhrmsa
    margin: 0px
    font-size: 0.6875rem
    line-height: 1.125rem
    font-weight: normal
    letter-spacing: 0.02rem

.css-1u3hqx3
    position: absolute
    inset: 0px
    z-index: 5
    border-radius: 12px
    filter: blur(3px)
    opacity: 0.7
    transition: all 0.3s ease 0s

.css-zx1qif
    width: 100%
    height: 100%
    border-radius: 12px
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center

.css-xrr8tt
    background: linear-gradient(90deg, rgb(255, 124, 179) 33%, rgb(212, 255, 89) 66%)
    min-width: 300%
    min-height: 300%
    transition: all 0.3s ease 0s
    animation: 10s ease 0s infinite normal none running animation-3oftuj

.css-jhcsam
    position: absolute
    inset: 0px
    z-index: 10
    background: linear-gradient(90deg, rgb(255, 124, 179) 0%, rgb(212, 255, 89) 100%)
    border-radius: 12px
    opacity: 0.7
    transition: all 0.3s ease 0s
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center

@keyframes animation-3oftuj
    0%
        transform: translateX(0%) translateY(0px)

.css-jhcsam
    position: absolute
    inset: 0px
    z-index: 10
    background: linear-gradient(90deg, rgb(255, 124, 179) 0%, rgb(212, 255, 89) 100%)
    border-radius: 12px
    opacity: 0.7
    transition: all 0.3s ease 0s
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center

.css-xrr8tt
    background: linear-gradient(90deg, rgb(255, 124, 179) 33%, rgb(212, 255, 89) 66%)
    min-width: 300%
    min-height: 300%
    transition: all 0.3s ease 0s
    animation: 10s ease 0s infinite normal none running animation-3oftuj

.css-gjizid
    display: flex
    flex-direction: column
    margin-left: -8px

.css-2tztx7
    display: flex
    flex-direction: row
    align-items: center
    gap: 4px
    border-radius: 20px
    background: rgba(255, 177, 142, 0.1)
    padding: 2px 4px

.css-u4p24i
    display: flex
    flex-direction: row
    align-items: center

.css-kqdrv3
    margin: 0px
    font-size: 0.6875rem
    font-weight: normal
    letter-spacing: 0.02rem
    line-height: 11px
    color: rgb(255, 177, 142)

.css-eb7nk5
    display: flex
    flex-direction: row
    flex: 3 1 0%
    gap: 8px

.css-1erriky
    margin: 0px
    font-size: 1rem
    line-height: 1.625rem
    font-weight: normal
    letter-spacing: 0.02rem

.css-1so0477
    display: flex
    flex-direction: row
    align-items: center
    color: rgba(255, 255, 255, 0.6)
    gap: 4px

.css-c89it3
    margin: 0px
    font-size: 0.6875rem
    line-height: 1.125rem
    font-weight: normal
    letter-spacing: 0.02rem
    color: rgba(255, 255, 255, 0.6)

.css-vubbuv
    user-select: none
    width: 1em
    height: 1em
    display: inline-block
    fill: currentcolor
    flex-shrink: 0
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
    font-size: 1.5rem

.css-c89it3
    margin: 0px
    font-size: 0.6875rem
    line-height: 1.125rem
    font-weight: normal
    letter-spacing: 0.02rem
    color: rgba(255, 255, 255, 0.6)

.css-u4p24i
    display: flex
    flex-direction: row
    align-items: center

.css-1ce2smr
    margin: 0px
    font-size: 0.6875rem
    line-height: 1.125rem
    font-weight: normal
    letter-spacing: 0.02rem
    color: rgba(255, 255, 255, 0.6)

.css-c89it3
    margin: 0px
    font-size: 0.6875rem
    line-height: 1.125rem
    font-weight: normal
    letter-spacing: 0.02rem
    color: rgba(255, 255, 255, 0.6)

.css-fjcmtc:hover
    outline: rgb(255, 156, 104) solid 1px
    outline-offset: -1px

.css-1bkxtup
    display: flex
    flex-direction: row
    flex: 1.5 1 0%

.css-1hqc7wo
    margin: 0px
    font-size: 1rem
    line-height: 1.625rem
    font-weight: normal
    letter-spacing: 0.02rem
    align-self: center

.css-uq7dtg
    display: flex
    flex-direction: column
    flex: 2 1 0%

.css-c4sutr
    height: auto
    overflow: visible
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms

.css-hboir5
    display: flex
    width: 100%

.css-8atqhb
    width: 100%

.css-3jdy22
    display: flex
    flex-direction: row
    gap: 8px

.css-hp68mp
    display: flex
    flex-direction: row
    gap: 8px
    align-items: center

.css-v0zrd7
    margin: 0px
    font-size: 0.8125rem
    line-height: 1.3125rem
    font-weight: normal
    letter-spacing: 0.02rem
    color: rgb(163, 163, 163)

.css-wwkw3j
    display: flex
    flex-direction: row
    flex: 1.5 1 0%
    justify-content: flex-end
    align-items: center
    gap: 0px

.css-n3cej3
    display: flex
    flex-direction: row
    flex: 4 1 0%
    align-items: center
    gap: 16px

.css-n3cej3
    display: flex
    flex-direction: row
    flex: 4 1 0%
    align-items: center
    gap: 16px

.css-1r9kwv0
    display: flex
    flex-direction: row
    gap: 4px
    align-items: center

.css-1r9kwv0
    display: flex
    flex-direction: row
    gap: 4px
    align-items: center

.css-xymnl5:hover
    background: rgb(34, 34, 34)

.css-7wkbxh
    margin: 0px
    font-size: 0.8125rem
    line-height: 1.3125rem
    font-weight: normal
    letter-spacing: 0.02rem
    color: rgb(163, 163, 163)

@media (max-width: 850px)
    .css-xymnl5
        padding: 24px
        height: 100%
        gap: 4px
        flex-direction: column
        align-items: flex-start

    .css-fjcmtc
        border-bottom: 1px solid rgb(89, 89, 89)

    .css-uq7dtg

.css-us2jy7
    display: flex
    flex-direction: row
    background: rgb(17, 17, 17)
    border-bottom: 1px solid rgb(89, 89, 89)
    padding: 20px 32px

    &:last-of-type
        border-bottom: none

.css-1fn1rmh
    display: block
    text-decoration: none

.css-1hdfonc
    display: flex
    flex-direction: row
    flex: 2.5 1 0%
    align-items: center

@media (min-width: 0px)
    .css-1hdfonc
        gap: 8px

@media (min-width: 960px)
    .css-1hdfonc
        gap: 16px

.css-1i8k1gd
    border-radius: 50%
    outline-offset: -1.5px

.css-vvufw5
    margin: 0px
    font-size: 1rem
    line-height: 1.625rem
    font-weight: normal
    letter-spacing: 0.02rem
    color: rgb(255, 255, 255)

.css-dxt8m4
    display: flex
    align-items: center
    user-select: none
    transition: opacity 0.2s ease-in-out 0s

.css-79elbk
    position: relative

.css-1hki280
    display: flex
    align-items: center
    height: 18px

.css-1kby21v
    padding: 1px
    border-radius: 4px
    height: 18px
    z-index: 20

.css-ot23c2
    background: rgb(31, 33, 40)
    border-radius: 10px
    height: 16px
    padding-left: 8px
    padding-right: 8px
    display: flex
    align-items: center
    color: rgb(255, 165, 203)
    transition: all 0.3s ease 0s

.css-1mhrmsa
    margin: 0px
    font-size: 0.6875rem
    line-height: 1.125rem
    font-weight: normal
    letter-spacing: 0.02rem

.css-jhcsam
    position: absolute
    inset: 0px
    z-index: 10
    background: linear-gradient(90deg, rgb(255, 124, 179) 0%, rgb(212, 255, 89) 100%)
    border-radius: 12px
    opacity: 0.7
    transition: all 0.3s ease 0s
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center

.css-xrr8tt
    background: linear-gradient(90deg, rgb(255, 124, 179) 33%, rgb(212, 255, 89) 66%)
    min-width: 300%
    min-height: 300%
    transition: all 0.3s ease 0s
    animation: 10s ease 0s infinite normal none running animation-3oftuj

@media (min-width: 0px)
    .css-rurlj0
        gap: 4px

@media (min-width: 960px)
    .css-rurlj0
        gap: unset

@media (min-width: 600px)
    .css-1hg59ch
        display: none

.css-c89it3
    margin: 0px
    font-size: 0.6875rem
    line-height: 1.125rem
    font-weight: normal
    letter-spacing: 0.02rem
    color: rgba(255, 255, 255, 0.6)

.css-ct9q29
    display: flex
    flex-direction: row
    align-items: center
    gap: 4px

.css-vubbuv
    user-select: none
    width: 1em
    height: 1em
    display: inline-block
    fill: currentcolor
    flex-shrink: 0
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
    font-size: 1.5rem

.css-1wili8m
    display: flex
    flex-direction: column
    border: 1px solid rgb(89, 89, 89)

.css-rurlj0
    display: flex
    flex-direction: column
    flex: 2 1 0%
    justify-content: center

@media (min-width: 960px)
    .css-wkqk46
        gap: 2px

@media (min-width: 0px)
    .css-wkqk46
        gap: 4px

.css-wkqk46
    display: flex
    flex-direction: column
    flex: 2 1 0%
    justify-content: center

@media (min-width: 600px)
    .css-1hg59ch
        display: none

.css-8v90jo
    display: flex
    flex-direction: row
    align-items: center
    gap: 8px

.css-c89it3
    margin: 0px
    font-size: 0.6875rem
    line-height: 1.125rem
    font-weight: normal
    letter-spacing: 0.02rem
    color: rgba(255, 255, 255, 0.6)

.css-o38pos
    margin: 0px
    font-size: 1rem
    line-height: 1.625rem
    font-weight: normal
    letter-spacing: 0.02rem
    color: rgb(255, 255, 255)

.css-1ce2smr
    margin: 0px
    font-size: 0.6875rem
    line-height: 1.125rem
    font-weight: normal
    letter-spacing: 0.02rem
    color: rgba(255, 255, 255, 0.6)

.css-us2jy7:hover
    background: rgb(34, 34, 34)
    outline: rgb(255, 156, 104) solid 1px
    outline-offset: -1px

@media (max-width: 599.95px)
    .css-us2jy7
        flex-wrap: wrap
        padding: 16px
        row-gap: 16px

    .css-1fn1rmh
        border-bottom: 1px solid rgb(89, 89, 89)

    .css-1hdfonc:nth-of-type(1)
        order: 1
        flex-basis: 75%

    .css-rurlj0:nth-of-type(2)
        order: 3

    .css-wkqk46:nth-of-type(3)
        order: 4

    .css-wkqk46:nth-of-type(4)
        order: 5

    .css-hpwt1:nth-of-type(5)
        order: 2
        flex-basis: 25%

    .css-ubmkps
        display: none

.css-gtfp90
    display: -ms-flexbox
    display: flex
    flex-direction: row
    padding: 16px
    gap: 16px

.css-b95f0i
    display: flex
    flex-direction: column
    -webkit-flex: 1
    -ms-flex: 1
    flex: 1

.css-c89it3
    margin: 0
    font-size: 0.6875rem
    line-height: 1.125rem
    font-weight: normal
    letter-spacing: 0.02rem
    color: rgba(255, 255, 255, 0.6)

.css-1xqhlnt
    display: flex
    flex-direction: column
    flex: 5

.css-6f4rlc
    display: flex
    flex-direction: column
    -webkit-flex: 2
    -ms-flex: 2
    flex: 2
    -webkit-flex-direction: row
    -ms-flex-direction: row
    flex-direction: row
    gap: 4px
    cursor: pointer
    -webkit-transition: opacity 0.4s ease
    transition: opacity 0.4s ease
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center
    color: #A3A3A3

.css-1q9qcw5
    margin: 0
    font-size: 0.6875rem
    line-height: 1.125rem
    font-weight: normal
    letter-spacing: 0.02rem
    color: #A3A3A3
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

.css-1hnws38
    display: flex
    flex-direction: column
    width: 100%
    border: 1px solid rgb(89, 89, 89)

.css-16k6ata
    display: flex
    width: 100%
    background: rgb(17, 17, 17)
    flex-direction: row
    align-items: center
    padding: 24px 16px
    border-bottom: 1px solid rgb(89, 89, 89)
    overflow: hidden
    cursor: pointer
    gap: 16px

.css-api3z4
    display: flex
    flex-direction: column
    flex: 1 1 0%
    align-items: center

.css-1qb06bc
    width: 36px
    height: 36px
    min-width: 36px
    min-height: 36px

.css-1qb06bc div
    display: flex

.css-1qb06bc svg
    width: 100%
    height: 100%

.css-1xqhlnt
    display: flex
    flex-direction: column
    flex: 5

.css-1d7dhat
    position: relative
    display: flex
    align-items: center
    justify-content: center

.css-1kkt86i
    display: flex
    flex-direction: column
    gap: 4px

.css-1r9kwv0
    display: flex
    flex-direction: row
    gap: 4px
    align-items: center

.css-fhxiwe
    display: flex
    flex-direction: row
    gap: 4px 

.css-h94jzx
    margin: 0
    font-size: 0.8125rem
    line-height: 1.3125rem
    font-weight: normal
    letter-spacing: 0.02rem

.css-1x8f5vi
    margin: 0px
    font-size: 0.6875rem
    line-height: 1.125rem
    font-weight: normal
    letter-spacing: 0.02rem
    color: rgb(163, 163, 163)

.css-uq7dtg
    display: flex
    flex-direction: column
    flex: 2 1 0%

.css-ge8ueo
    margin: 0
    font-size: 0.8125rem
    line-height: 1.3125rem
    font-weight: normal
    letter-spacing: 0.02rem

.css-1oq29p3
    margin: 0
    font-size: 0.8125rem
    line-height: 1.3125rem
    font-weight: normal
    letter-spacing: 0.02rem
    color: rgb(132, 255, 159)

.css-1x8f5vi
    margin: 0px
    font-size: 0.6875rem
    line-height: 1.125rem
    font-weight: normal
    letter-spacing: 0.02rem
    color: rgb(163, 163, 163)

.css-16k6ata:hover
    outline: rgb(255, 156, 104) solid 1px
    outline-offset: -1px
    background: rgb(34, 34, 34)

.css-8v90jo
    display: flex
    flex-direction: row
    -webkit-box-align: center
    align-items: center
    gap: 8px

.css-hxoxwd
    margin: 0px
    font-size: 0.6875rem
    line-height: 1.125rem
    font-weight: normal
    letter-spacing: 0.02rem
    font-family: Poppins
